.section {
  max-width: 640px;
}

.tabs {
  display: flex;
}

.groups {
  height: 55vh;
  overflow-y: scroll;
}

.groups::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37;
}

.groups::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}
