.modal {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  top: 15%;
  width: 720px;
  background: #1c1c21;
  border: 1px solid rgba(76, 76, 255, 0.2);
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.close {
  background-color: transparent;
  outline: none;
  border: none;
  background: url("./../../images/close.svg") no-repeat;
  background-size: auto;
  width: 30px;
  height: 30px;
}

.close:hover {
  cursor: pointer;
  opacity: 0.5;
}

.image {
  width: 480px;
  height: 240px;
  object-fit: cover;
}

.content {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.composition {
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: #8585ad;
}

.element {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
}
