.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1c21;
  margin: 0;
}

.menu {
  margin: 0 auto;
  width: 1280px;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: space-between;
}

.menuElement {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  gap: 9px;
}

.menuGroup{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  gap: 50px;

}

.active {
  color: "#F2F2F3";
}
