.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1c21;
  margin: 0;
  width: 100%;
}

.menu {
  margin: 0 auto;
  width: 1280px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.menuElement {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  gap: 9px;
}

.menuGroup {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  gap: 50px;
}

.navDisabled {
  cursor: not-allowed;
}
